:root{
  --color-black: rgb(7, 6, 6);
  --color-white: rgba(255, 255, 255, 1);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 62.4%;
  font-family: 'Bellota', sans-serif;
  padding-top: 50px;
}

