:root{
  --color-black: rgb(7, 6, 6);
  --color-white: rgba(255, 255, 255, 1);
}

.profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 650px;
  background-color: rgba(0, 0, 0, 0.8);
}

.profile-container .profile-img{
  margin-bottom: 5%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url('https://i.imgur.com/rJ06XPB.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-container p{
  font-size: 1.8rem;
  color: var(--color-white);
}

.profile-container p .title-mark{
  font-weight: bold;
  color: rgb(4, 88, 199);
}

.skills-container{
  display: flex;
  width: 100%;
  height: 600px;
  padding-top: 30px;
  background-color: var(--color-white);
}

.skills-container .about-me{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}

.about-me h3{
  width: 100%;
  height: 100px;
  padding-left: 10%;
  line-height: 100px;
  font-size: 1.4rem;
}

.about-me p{
  width: 80%;
  height: 400px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 30px;
}

.about-me input{
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  background-color: rgb(24, 131, 24);
  color: var(--color-white);
  transition: .3s;
}

.about-me input:hover{
  transform: scale(1.1);
  box-shadow: 1px 2px 8px var(--color-black);
  cursor: pointer;
}

.skills-container .imgs-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.imgs-container img{
  width: 100%;
}

.projects-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 580px;
  background-color: var(--color-white);
}

.project-container{
  display: flex;
  justify-content: center;
  width: 40%;
}

.project-container figure{
  position:relative;
   height: 250px;
   cursor: pointer;
   width: 350px;
   overflow: hidden;
   border-radius: 6px;
   box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
.project-container figure img{
   width: 100%;
   height: 100%;
   transition: all 400ms ease-out;
   will-change: transform;
}
.project-container figure .capa{
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(0,103,123,0.7);
   transition: all 400ms ease-out;
   opacity: 0;
   visibility: hidden;
  text-align: center;
}
.project-container figure:hover > .capa {
   opacity: 1;
   visibility: visible;
}
.project-container figure:hover > .capa h3{
   margin-top: 70px;
   margin-bottom: 15px;
}
.project-container figure:hover > img{
   transform: scale(1.3);
}
.project-container figure .capa h3{
   color: #fff;
   font-weight: 400;
   margin-bottom: 120px;
   transition: all 400ms ease-out;
    margin-top: 30px;
}
.project-container figure .capa p{
   color: #fff;
   font-size: 15px;
   line-height: 1.5;
   width: 100%;
   max-width: 220px;
   margin: auto;
}

.project-container figure .capa .btn-github{
  width: 60px;
  height: 30px;
  margin-top: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  background-color: orangered;
  color: var(--color-white);
  transition: .3s;
}

.project-container figure .capa .btn-github:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.project-container figure .capa .btn-site{
  width: 60px;
  height: 30px;
  margin-top: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(3, 122, 19);
  color: var(--color-white);
  transition: .3s;
}

.project-container figure .capa .btn-site:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.contact-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: var(--color-white);
}

.contact-container a{
  font-size: 1rem;
  margin: 0 20px;
}

.contact-container a img{
  width: 50px;
  background-color: var(--color-white);
  transition: .3s;
}

.contact-container a img:hover{
  transform: scale(1.2);
}

@media (max-width: 700px){
  .skills-container{
    flex-direction: column;
    height: 1100px;
    padding-top: 50px;
  }

  .skills-container .about-me{
    width: 100%;
  }

  .about-me input{
    margin-top: 150px;
  }

  .skills-container .imgs-container{
    width: 100%;
  }

  .profile-container p{
    font-size: 1.4rem;
  }

  .projects-container{
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    padding-bottom: 50px;
  }

  .project-container figure{
    width: 400px;
    height: 300px;
  }

  .project-container figure img{
    width: 400px;
    height: 300px;
  }

  .contact-container{
    height: 150px;
  }
}
  /*background-image: url('https://i.imgur.com/pU4vTvK.jpg'); <- Imagen de fondo de section
  background-image: url('https://i.imgur.com/rJ06XPB.jpg'); <- Imagen de perfil */

  