:root{
  --color-black: rgb(7, 6, 6);
  --color-white: rgba(255, 255, 255, 1);
}
  /*background-image: url('https://i.imgur.com/pU4vTvK.jpg'); <- Imagen de fondo de section
  background-image: url('https://i.imgur.com/rJ06XPB.jpg'); <- Imagen de perfil */
